header.white.band.padded
  .container
    h2
      | GroundworkCSS
    nav.inline.gap-top
      ul
        li
          a(href='./home.html')
            i.icon-home
        li
          a(href='./layout-1.html') Layout 1
        li
          a(href='./layout-2.html') Layout 2
        li
          a(href='./layout-3.html') Layout 3
        li
          a(href='./layout-4.html') Layout 4
        li
          a(href='./layout-5.html') Layout 5
        li
          a(href='./kitchen-sink.html') Kitchen Sink
