!!! 5
html
  head
    meta(charset="utf-8")
    title Test: Groundwork Responsive Class Placeholders
    link(rel="stylesheet", href="test.css")
  
  body
    
    //- Defines a mixin for placeholder text, since we'll be using it 6 times.
    mixin content
      h2 Heading
      p Cupcake ipsum dolor. Sit amet bear claw donut. Candy gingerbread soufflé lollipop gummies oat cake sesame snaps. Oat cake dragée gummies sesame snaps.
    //- End of mixin
    
    .container
      .row
        .one.whole
          h1 Presentational Classes
          p This shows 3 divs (with a class of .one.third), as per normal Groundwork usage.
          p They obey grid structure and display responsive behaviour, but offend semantic folks and require a fat css file full of classes.
      .row
        .one.third
          mixin content
        .one.third
          mixin content
        .one.third
          mixin content
    hr
    
    .washroom
      .soap-dispenser
        .packet-of-soap
          h1 Semantic Classes extending grid placeholders
          p This shows 3 divs semantically/nonsensically named, while extending grid placeholders.
          p They allow grid classes to be done away with in the compiled css, however <strong>right now they don't behave responsively. This test passes when they do.</strong>
      .soap-dispenser
        .satchet-of-soap
          mixin content
        .satchet-of-soap
          mixin content
        .satchet-of-soap
          mixin content
        